name: assignment-test
on:
    push:
        tags-ignore:
            - '*'
        branches:
            - '*'
jobs:
      full-test:
        runs-on: self-hosted
        steps:
          - uses: actions/checkout@v3
            with:
              clean: false
              submodules: 'recursive'
          - uses: webfactory/ssh-agent@v0.5.4
            with:
                 ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
          - name: Run build
            timeout-minutes: 600
            run: |
               docker run --rm \
                 -v $SSH_AUTH_SOCK:/ssh-agent -e SSH_AUTH_SOCK=/ssh-agent \
                 -e GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no" \
                 -v ${GITHUB_WORKSPACE}:${GITHUB_WORKSPACE} \
                 cuaesd/aesd-autotest:24-assignment6-yocto \
                 --workdir=${GITHUB_WORKSPACE} \
                 ./build.sh
          - name: Run full test
            timeout-minutes: 15
            run: |
              # Ensure the socket is accessible to the container user
              sudo chmod 666 $SSH_AUTH_SOCK
              
              docker run --rm \
                -v $SSH_AUTH_SOCK:/tmp/ssh_agent.sock \
                -e SSH_AUTH_SOCK=/tmp/ssh_agent.sock \
                -e GIT_SSH_COMMAND="ssh -o StrictHostKeyChecking=no" \
                -v ${GITHUB_WORKSPACE}:${GITHUB_WORKSPACE} \
                -w ${GITHUB_WORKSPACE} \
                cuaesd/aesd-autotest:assignment6-yocto \
                ./full-test.sh
          - name: Cleanup
            if: always()
            run: |
              ssh-add -D
